.news_container{
	width: 95%;
	margin: 10px;

}
.news{
	padding: 20px;
	padding-top: 5px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-left: 3px solid #000;
	border-bottom: 3px solid #000;
	margin-top: 20px;
}
.news_items{
	width: 90%;
	margin-top: 20px;
	
}
.news_img{
	margin-right: 10px;
	width: 90%;
	height: 32%;
	border-radius: 5%;
}

@media screen and (max-width: 1175px){
	.news{
		display: block;
		margin-top: -40px;
		margin-bottom: 60px;
	}
	.news_img{
		margin-left: -10%;
	}