@font-face {
    font-family: "Lato";
    src: url(../font/Lato-Black.ttf);
}

@font-face {
    font-family: "LatoR";
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: "Anton";
    src: url(../font/Anton-Regular.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../font/Merriweather-Light.ttf);
}

:root {
    --font-title: "Lato", sans-serif;
    --font-subtitle: "LatoR", sans-serif;
    --font-copy: "Merriweather", serif;
    --color-primary: #008ccf;
    --color-secondary: #006190;
    --color-link: #0079b3;
    --color-link--active: #004a6e;
    --color-link--visited: #861f9e;
    --color-link--visited-active: #6e049e;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-size: 1.25em;
}

body {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.8;
    color: #333;
    transition: ease-in-out 0.5s;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link--active);
    text-decoration: none;
}

a:visited {
    color: var(--color-link--visited);
}

a:visited:hover {
    color: var(--color-link--visited-active);
    text-decoration: none;
}

li {
    list-style-type: none;
    display: list-item;
}

nav {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    text-align: center;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-family: "Anton";
    color: var(--color-primary);
    font-size: 24px;
    cursor: pointer;
    word-wrap: none;
    transition: 0.3s;
}

.logo:hover {
    color: var(--color-secondary);
    transform: scale(1.05);
}

.menu {
    font-family: var(--font-title);
    font-weight: 700;
    display: flex;
    position: relative;
}

.menu li {
    margin-left: 9px;
}

.move {
    padding: 8px 12px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-primary) !important;
}

.move:before {
    content: "";
    visibility: hidden;
    position: absolute;
    left: 0.6em;
    right: 0.6em;
    bottom: 0;
    height: 0.14em;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.2s;
    transition-property: transform;
}

.move:hover {
    color: var(--color-secondary) !important;
}

.show {
    transform: translateY(350px);
}

.use:before {
    visibility: visible;
    transform: scale(1);
}

.move:hover:before {
    visibility: visible;
    transform: scale(1);
}

.burger {
    width: 34px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    height: 24px;
    right: 1.25rem;
    z-index: 9999999;
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 50%;
    background: var(--color-primary);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.burger span:nth-child(1),
.burger span:nth-child(2) {
    top: 0;
}

.burger span:nth-child(3),
.burger span:nth-child(4) {
    top: 11px;
}

.burger span:nth-child(5),
.burger span:nth-child(6) {
    top: 22px;
}

.burger span:nth-child(odd) {
    left: 0;
}

.burger span:nth-child(even) {
    left: 50%;
}

.active {
    transform: translateY(-350px);
}

.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 2px);
}

.active span:nth-child(2) {
    transform: rotate(-45deg) translate(-6px, 2px);
}

.active span:nth-child(3) {
    transform: translateX(-20px);
    height: 0;
}

.active span:nth-child(4) {
    transform: translateX(20px);
    height: 0;
}

.active span:nth-child(5) {
    transform: rotate(-45deg) translate(6px, -2px);
}

.active span:nth-child(6) {
    transform: rotate(45deg) translate(-6px, -2px);
}

.content {
    padding-top: 5em;
    padding-bottom: 4em;
    min-height: 200px;
}

.tagline {
    text-align: center;
    margin-bottom: 3.5em;
}

.header {
    text-align: center;
    margin-bottom: 2.5em;
}

.contain-about {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1em;
    color: #333;
    font-weight: 300;
    font-family: var(--font-copy);
    line-height: 1.8;
}

.about-img {
    width: 120px;
    float: left;
    margin-right: 1em;
}

.about-img img {
    width: 100%;
}

.contain-about h2 {
    margin-bottom: 0.6em;
    line-height: 1.2;
    font-family: var(--font-subtitle);
    font-size: 1.6em;
    font-weight: 700;
}

.contain-about p {
    margin-bottom: 1.8rem;
}

h1 {
    font-family: var(--font-title);
    font-weight: 1900;
    font-size: clamp(1.8em, calc(1em + 2.4vw), 3em);
    line-height: 1.2;
    font-weight: bold;
    max-width: 23.4em;
    margin: 0 auto;
}

.tagline p {
    font-family: var(--font-copy);
    font-size: clamp(1.125em, 2vw, 1.4em);
    line-height: 1.5;
    max-width: 46em;
    margin: 0 auto;
    margin-top: 0.4em;
    animation-delay: 0.5s;
}

.tagline p span {
    color: var(--color-primary);
}

.portfolio-info {
    grid-area: "info";
    width: 100%;
    margin-right: 2.5em;
}

.portfolio-name {
    display: block;
    font-size: 1.4em;
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.2;
    fill: currentColor;
    padding-left: 1em;
}

.portfolio-link:hover .arrow {
    animation: arrow 0.7s ease-in infinite;
}

.portfolio-thumb {
    display: block;
    overflow: hidden;
    margin-bottom: 1em;
}

.portfolio-thumb img {
    transition-duration: 0.5s;
    display: block;
}

.portfolio-link:hover .portfolio-thumb img {
    transform: translateZ(0) scale(1.05);
}

.arrow {
    position: relative;
    left: -0.5em;
}

@keyframes from-left {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes arrow {
    0% {
        left: -0.5em;
    }
    50% {
        left: -0.3em;
    }
    100% {
        left: -0.5em;
    }
}

.arrow:before,
.arrow:after {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 1.5px;
    background-color: currentColor;
    transform-origin: 100% 100%;
}

.arrow:before {
    transform: rotate(-45deg);
}

.arrow:after {
    transform: rotate(45deg) translateY(0.6em);
}

.portfolio {
    display: grid;
    grid-gap: 6em;
}

.portfolio-info img {
    width: 100%;
}

.portfolio-except {
    font-family: var(--font-copy);
    margin-top: 0.5em;
    font-size: 18px;
}

.side1 {
    grid-area: "side1";
    display: none;
}

.side2 {
    grid-area: "side2";
    display: none;
}

.portfolio-preview-medium,
.portfolio-preview-small {
    grid-area: "preview-medium";
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.portfolio-preview-medium img,
.portfolio-preview-small img {
    width: 100%;
    display: block;
}

.portfolio-preview-small {
    grid-area: "preview-small";
    display: none;
}

.portfolio-item {
    width: 100%;
    display: grid;
    grid-template-areas: "info preview-medium";
    grid-template-columns: 6fr 11fr;
    grid-gap: 2.5em;
}

.container,
.container-nav {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 2000px;
}

footer {
    background-color: #222;
    border-top: 0.8em solid var(--color-primary);
    color: #d8d8d8;
    font-size: 18px;
    padding: 2.5em 0 1.1em;
    display: grid;
    grid-template-areas: "bio link menu";
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 4em;
    height: auto;
    line-height: 1.4;
}

footer a,
footer a:hover,
footer a:visited,
footer a:visited:hover {
    font-family: var(--font-title);
    color: #fff;
    text-decoration-color: var(--color-link--visited);
    font-weight: 600;
    font-size: 16px;
}

footer a {
    text-decoration-color: var(--color-link);
}

.footer-links div {
    margin-bottom: 1.4em;
}

.footer-links {
    grid-area: "link";
}

.footer-menu {
    grid-area: "menu";
}

.footer-links i {
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
}

.footer-bio {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 1em;
    grid-area: "bio";
    font-weight: 300;
    font-size: 20px;
    line-height: 1.8;
}

.footer-bio-img {
    width: 120px;
    position: relative;
}
.footer-bio-img img {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
}

@media only screen and (min-width: 1600px) {
    .portfolio-except {
        font-size: 1rem;
    }
    .portfolio-item {
        grid-template-areas: "info preview-medium preview-small";
        grid-template-columns: 1fr 2fr 1fr;
    }
    .portfolio-preview-medium,
    .portfolio-preview-small {
        display: block;
    }
    nav {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}
@media only screen and (max-width: 1200px) {
    .portfolio-item {
        grid-template-areas: "info preview-small";
        grid-template-columns: 1fr 1fr;
    }
    .portfolio-preview-medium {
        display: none;
    }
    .portfolio-preview-small {
        display: block;
    }
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .portfolio-except {
        font-size: 0.8rem;
    }
    footer {
        grid-template-areas:
            "bio"
            "link"
            "menu";
        grid-template-columns: 1fr;
        grid-gap: 2em;
        text-align: center;
    }
    .footer-bio-desc {
        text-align: left;
    }
    .contain-about {
        max-width: 700px;
    }
    .contain-about h2 {
        font-size: 1.2em;
        margin-bottom: 0.6em;
    }
    .contain-about p {
        font-size: 0.8em;
        margin-bottom: 1.4rem;
    }
}
@media only screen and (max-width: 960px) {
    .portfolio-item {
        grid-template-areas: "side1 info side2";
        grid-template-columns: 1fr 550px 1fr;
        grid-gap: 0;
    }
    .portfolio-preview-medium {
        display: none;
    }
    .portfolio-preview-small {
        display: none;
    }
    .container {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .side1,
    .side2 {
        display: block;
    }
    .tagline h1 {
        max-width: 520px;
    }
    .tagline p {
        max-width: 560px;
    }
}
@media only screen and (max-width: 760px) {
    .container-nav {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .burger {
        display: block;
    }

    .menu {
        position: absolute;
        left: 0;
        top: -350px;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1.3em;
        padding: 4em 0;
        transition: 0.5s ease-in-out;
        box-sizing: border-box;
        z-index: 888888;
    }

    .menu li {
        margin: 0 0 1em 0;
    }

    .move {
        letter-spacing: 0.06em;
        transition: 0.3s;
    }

    .move:before {
        height: 0.1em;
    }
}
@media only screen and (max-width: 580px) {
    .portfolio-item {
        grid-template-areas: "info";
        grid-template-columns: 1fr;
    }
    .side1,
    .side2 {
        display: none;
    }
    .footer-bio-img {
        display: none;
    }
    .footer-bio {
        grid-template-columns: 1fr;
    }
    .footer-bio-desc {
        text-align: center;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
}
