*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100vh;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 15px;
}
.blocks {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}
.block {
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: -4px;
    transition: 0.3s all;
}
.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    opacity: 0;
    transition: 0.2s linear;
    background-image: linear-gradient(180deg,rgba(0,0,0,.2) 0,rgba(0,0,0,.199) 
                                        3.5%,rgba(0,0,0,.195) 7%,rgba(0,0,0,.19) 
                                        10.35%,rgba(0,0,0,.182) 13.85%,rgba(0,0,0,.174) 
                                        17.35%,rgba(0,0,0,.165) 20.85%,rgba(0,0,0,.155) 
                                        24.35%,rgba(0,0,0,.145) 27.85%,rgba(0,0,0,.135) 
                                        31.35%,rgba(0,0,0,.126) 34.85%,rgba(0,0,0,.118) 
                                        38.35%,rgba(0,0,0,.11) 41.85%,rgba(0,0,0,.105) 
                                        45.35%,rgba(0,0,0,.1) 48.85%,rgba(0,0,0,.103) 
                                        52.35%,rgba(0,0,0,.112) 55.85%,rgba(0,0,0,.126) 
                                        59.35%,rgba(0,0,0,.144) 62.85%,rgba(0,0,0,.165) 
                                        66.35%,rgba(0,0,0,.188) 69.85%,rgba(0,0,0,.213) 
                                        73.35%,rgba(0,0,0,.237) 76.85%,rgba(0,0,0,.262) 
                                        80.35%,rgba(0,0,0,.285) 83.85%,rgba(0,0,0,.306) 
                                        87.35%,rgba(0,0,0,.324) 90.85%,rgba(0,0,0,.338) 
                                        94.35%,rgba(0,0,0,.347) 97.85%,rgba(0,0,0,.35));
}
.block img {
    width: 100%;
    padding: 0;
    margin: 0;
}
.ext {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 8px rgba(0,0,0,.1);
    left: 20px;
    line-height: 20px;
    opacity: 0;
    transition: 0.2s linear;

}
.ext p:nth-child(1) {
    font-weight: bold;
}
.block:hover .ext {
    opacity: 1;
}
.block:hover .bg {
    opacity: 1;
}

@media (max-width: 1200px) {
    .blocks { grid-template-columns: 1fr 1fr; }
}
@media (max-width: 720px) {
    .blocks { grid-template-columns: 1fr; }
}