header {
	display: grid;
	grid-template-areas: "logo slogan info";
	grid-template-columns: 20% 50% 20%;
	grid-gap: 5%;
	padding: 2% 5%;
	overflow: hidden;
	vertical-align: middle;
	background: #fff;
}
.logo {
	grid-area: logo;
	text-align: center;
}
.logo img {
	width: 35%;
}
.slogan {
	grid-area: slogan;
}
.info {
	grid-area: info;
}
.fa {
	border-radius: 50%;
	background: #80e5ff;
	padding: 5px;
	color: #fff;
}
.phone {
	margin: 5px 0;
}
.blue {
    background-color: rgba(19, 131, 205, 0.7);
    color: white;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 3rem;
    font-size: 2rem;
}
.special_products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
}
.product {
    padding: 1.5rem;
    margin: 1.25rem;
    background: #fff;
    max-width: 26rem;
}
.product:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.name, .about{
	margin-bottom: 1rem;
}
.price {
	font-weight: bold;
    margin: 0.25rem 0.8rem 0.25rem 0;
}
.old-price {
    text-decoration: line-through;
    opacity: 0.6;
}
.prices {
    display: flex;
}
.label.discount {
    background-color: #dc4646;
    color: #fff;
}
.label.sale {
	background-color: #eee;
    color: #222;
}
.label {
	margin: 0.25rem;
    padding: 0.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #eee;
    font-size: 0.95em;
}
.product-labels {
    position: relative;
    left: -1.5rem;
    margin: -0.25rem;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
}
.wraper {
	padding: 2.5rem;
	background: #fff;
	display: flex;
}
.img {
	margin-right: 1rem;
	width: 70%;
}
.img img {
	width: 100%;
}
.text p:nth-child(1) {
	font-weight: bold;
}
.text p {
	margin-top: 1rem;
}
footer a {
	color: #fff;
}
.phone a:hover {
	color: #f5a13b;
	cursor: pointer;
}
.mail a:hover {
	color: #f5a13b;
	cursor: pointer;
}
.review_wrap {
	background: #1383cd;
	color: #fff;
	padding: 2rem;
}
.labelo {
	font-size: 1.5rem;
}
.imga {
    width: 6.5rem;
    margin: 0.5rem;
}
.imge {
	width: 100%;
	position: relative;
	padding-top: 100%;
	border-radius: 50%;
	overflow: hidden;

}
.imge img {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.review {
	flex-flow: column;
	text-align: center;
    margin-right: 5px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
}
.review p:nth-child(2) {
	font-weight: bold;
	font-size: 20px;
}
.reviews {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1220px;
	margin-left: auto;
    margin-right: auto;
}
.labelo {
	max-width: 1220px;
	margin-left: auto;
    margin-right: auto;
}
.ben-img {
    padding: 0.5rem;
    width: 5rem;
}
.benefit {
	margin: 0.5rem 1rem;
	display: flex;
	align-items: center;
}
.benefit-caption {
	padding: 0.5rem;
    line-height: 1.2;
}
.benefits {
	background: #fff;
	padding: 3rem 1rem;
	margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
}
.benefits-list {
	display: flex;
	justify-content: center;
}
.benefit + .benefit {
    border-left: 1px solid #eee;
    padding-left: 2rem;
}
.benefits-head {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.menu {
	position: sticky;
	width: 100%;
	background: #0d72b5;
	z-index: 1000;
	top: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.links {
	margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    list-style-type: none;
	padding: 0;
	overflow: hidden;
}
.menu ul li {
	float: left;
	background: url(../img/menu_divider.jpg) no-repeat 0 5px;
}
.menu ul li:nth-child(1) {
	background: none;
}
.menu ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu ul li:nth-child(1) {
	border: none;
}
.menu ul li a:hover {
	background-color: #156397;
}
.drop {
	left: 50%;
	transform: translate(-50%, 0);
	width: 1220px;
	background: #156397;
	position: absolute;
	padding: 10px 25px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	border-radius: 0 0 15px 15px;
}
.menu ul li:hover .drop {
  visibility: visible;
  opacity: 1;
}
.ui {
	font-size: 13px;
    line-height: 24px;
    float: none !important;
    background: none !important;
    color: #fff;
}
.ui a {
    text-align: left !important;
    padding: 0 !important;
}
.ui::before {
  content: "\2022";
  color: #fff;
  font-size: 20px;
  display: inline-block;
  float: left;
  margin-left: -0.5em;
}
.ui a:hover {
	background-color: #146ea8 !important; 
}
.ui-head {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px dotted silver !important;
	margin-left: -0.5rem;
}
.ui-head::before {
	content: "";
}
.col {
	float: left;
    position: relative;
    margin: 0 20px;
    width: 265px;
}
.col ul {
	margin-bottom: 15px;
}








@media only screen and (max-width: 1300px) {
	.special_products {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 1000px) {
	.special_products {
		grid-template-columns: 1fr;
	}
}